<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Les meilleurs sites de camping du Québec</p>
			<div class="accordion" id="accordionExample">
  				<div class="card">
    				<div class="card-header" id="headingOne">
      					<h2 class="mb-0">
        					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><%=campgrounds.name %></button>
      					</h2>
    				</div>
					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      					<div class="card-body">Adressse : <%= campgrounds.location %></div>
    				</div>
				</div>
				
				<div class="card">
    				<div class="card-header" id="headingTwo">
      					<h2 class="mb-0">
        					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Tarifs</button>
      					</h2>
    				</div>
					<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
      					<div class="card-body">Camping rustique (sans services) à partir de : $<%= campgrounds.price %>/nuit</div>
    				</div>
				</div>				
			</div>
				<div id="map"></div>
			</div>
	
		<div class="col-md-9">
			<div class="card">
  				<img class="img-responsive" src="<%= campgrounds.image %>" class="card-img-top" alt="image of <%=campgrounds.name %>">
  				<div class="card-body">
    				<h4 class="card-title"><a href="<%= campgrounds.urlCamping %>"><%=campgrounds.name %></a></h4>
    				<p class="card-text"><%= campgrounds.description %></p>
					<div class="d-flex justify-content-between">
						<span><em>Camping recommandé par : <a href="/users/<%=campgrounds.author.id%>"><%= campgrounds.author.username %></a></em></span>
						<span><%= moment(campgrounds.createdAt).fromNow() %></span>
					</div>
			
					<% if(currentUser && campgrounds.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
						<a class="btn btn-sm btn-outline-warning" href="/index/<%= campgrounds._id %>/edit">Modifier</a>
						<form class="delete-form" action="/index/<%= campgrounds._id %>?_method=DELETE" method="POST">
							<button class="btn btn-sm btn-outline-danger">Effacer</button>
						</form>  
					<% } %>
  				</div>
			</div>
			
			<div class="card border-success mb-3">
  				<div class="card-header">Commentaires</div>
  					<div class="card-body">
    				<h5 class="card-title"><a class="btn btn-success" href="/index/<%= campgrounds._id  %>/comments/new">Laissez un commentaire</a>
</h5>
    			<hr/>
				<% campgrounds.comments.forEach((comment) =>{ %>
				<div class="row">
					<div class="col-md-12">
						<div class="d-flex justify-content-between">
							<span><strong><a href="/users/<%=campgrounds.author.id%>"><%= comment.author.username %></a></strong></span>
							<span><%= moment(comment.createdAt).fromNow() %></span>							
						</div>
						<p><%= comment.text %></p>
						<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
							<a class="btn btn-sm btn-outline-warning" 
							   href="/index/<%=campgrounds._id%>/comments/<%=comment._id %>/edit">Modifier</a>
							<form class="delete-form" 
								  action="/index/<%= campgrounds._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<button class="btn btn-sm btn-outline-danger">Effacer</button>
							</form>
						<% } %>
					</div>
				</div>
				<% }); %>	
  				</div>
			</div>
		</div>
	</div>
</div>

<script>
  function initMap() {
    let lat = <%= campgrounds.lat %>;
    let lng = <%= campgrounds.lng %>;
    let center = {lat: lat, lng: lng };
    let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    let contentString = `
      <strong><%= campgrounds.name %><br />
      <%= campgrounds.location %></strong>
      <p><%= campgrounds.description %></p>
    `
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    let marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.API_KEY2 %>&callback=initMap"></script>


<% include ../partials/footer %>