<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">CampiFav</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
			<div id="map"></div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= campgrounds.image %>"/>
				<div class="caption-full">
					<h5 class="pull-right"><strong>Camping rustique (sans services) à partir de : $<%= campgrounds.price %>/nuit</strong></h5>
					<h4><a href="https://www.sepaq.com/destinations/"><%=campgrounds.name %></a></h4>
					<p><%= campgrounds.description %></p>
					<p><em>Camping recommandé par : <%= campgrounds.author.username %>, <%= moment(campgrounds.createdAt).fromNow() %></em></p>
					
					<% if(currentUser && campgrounds.author.id.equals(currentUser._id)) { %>
						<a class="btn btn-xs btn-warning" href="/index/<%= campgrounds._id %>/edit">Modifier</a>
						<form class="delete-form" action="/index/<%= campgrounds._id %>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">Effacer</button>
						</form>  
					<% } %>
				</div>
			</div>
			
			<div class="well">
				<div class="text-right">
					<a class="btn btn-primary" href="/index/<%= campgrounds._id  %>/comments/new">Laissez un commentaire</a>
				</div>
				<hr/>
				<% campgrounds.comments.forEach((comment) =>{ %>
				<div class="row">
					<div class="col-md-12">
						<strong><%= comment.author.username %> <%= comment.author.email %></strong>
						<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
						<p><%= comment.text %></p>
						<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
							<a class="btn btn-xs btn-warning" 
							   href="/index/<%=campgrounds._id%>/comments/<%=comment._id %>/edit">Modifier</a>
							<form class="delete-form" 
								  action="/index/<%= campgrounds._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<button class="btn btn-xs btn-danger">Effacer</button>
							</form>
						<% } %>
					</div>
				</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>

<script>
  function initMap() {
    let lat = <%= campgrounds.lat %>;
    let lng = <%= campgrounds.lng %>;
    let center = {lat: lat, lng: lng };
    let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    let contentString = `
      <strong><%= campgrounds.name %><br />
      <%= campgrounds.location %></strong>
      <p><%= campgrounds.description %></p>
    `
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    let marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqkY1PjvcFdNNnIQVq6l7x3ePjUk38rn4&callback=initMap"></script>


<% include ../partials/footer %>