<% include ../partials/header %>

<h1 class="text-center"><%=campgrounds.name %></h1>

<img src="<%= campgrounds.image %>"/>
<p><%=campgrounds.description %></p>

<p><a class="btn btn-primary" href="/index/<%= campgrounds._id  %>/comments/new">Laissez un commentaire</a></p>

<% campgrounds.comments.forEach((comment) =>{ %>
	<p><strong><%= comment.author %></strong> - <%= comment.text %></p>
<% }); %>


<% include ../partials/footer %>