<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">CampiFav</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= campgrounds.image %>"/>
				<div class="caption-full">
					<h4 class="pull-right">Camping rustique 26,40$/nuit</h4>
					<h4><a href="https://www.sepaq.com/destinations/"><%=campgrounds.name %></a></h4>
					<p><%=campgrounds.description %></p>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-primary" href="/index/<%= campgrounds._id  %>/comments/new">Laissez un commentaire</a>
				</div>
				<hr/>
				<% campgrounds.comments.forEach((comment) =>{ %>
				<div class="row">
					<div class="col-md-12">
						<strong><%= comment.author.username %> - <%= comment.author.email %></strong>
						<span class="pull-right">Il y a 10 jours</span>
						<p><%= comment.text %></p>
					</div>
				</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>





<% include ../partials/footer %>