<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="card">
			  <img src="<%= user.avatar %>" class="card-img-top" alt="image of <%= user.firstName %>  <%= user.lastName %>">
			  <div class="card-body">
				<h5 class="card-title"><%= user.firstName %>  <%= user.lastName %></h5>
				<p class="card-text">Courriel: <a href="mailto: <%= user.email %>"><%= user.email %></a></p>
			  </div>
			</div>
		</div>
	
		<div class="col-md-8">
			<ul>
				<h4>Campings publiés par : <%= user.username %></h4>
				<div class="card">
					<% campgrounds.forEach( (campground)=>{ %>
					<img src="<%= campground.image %>" class="card-img-top" alt="image of <%= campground.name %>">
					<div class="card-body">
						<p class="card-text"><a href="/index/<%= campground.id %>"><%= campground.name %></a></p>
					</div>
					<% }); %>
				</div>	
			</ul>
		</div>		
	</div>
</div>

<% include ../partials/footer %>